h1 { 
    text-align: center;
    background-color: white;
  }
h5 { 
    text-align: center;
    font-size: 14px;
    color: white;
  }
header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 125vh;
    background-image: url(pattern.jpg);
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

div {
    background-color: white;
    border-bottom: groove;
}

footer {
    background-color: black;
    text-align: center;
    height: 50px;
}